* { box-sizing: border-box; }

body { font-family: 'Open Sans', sans-serif; }

.container { display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -ms-flex-align: center; align-items: center; margin: 0 auto; max-width: 1200px; min-height: 50vh; text-align: center; position: relative; }

.container img { width: 100%; height: auto; opacity: 0.9; }

.content { position: absolute; left: 0; top: 0; width: 100%; background: rgba(186, 180, 180, 0.4); }

.content p { margin: 0 60px; margin-bottom: 30px; font-weight: bold; color: #fff; }

.content h1 { text-align: center; font-size: 20px; padding: 10px; padding-right: 0; color: #000; }

.button { position: absolute; right: 245px; top: 5px; background-color: #fff; color: black; padding: 5px; border: 2px solid #555555; border-radius: 10px; }

.button:hover { background-color: #555555; color: #fff; }

.carousel-cell { display: block; overflow: hidden; width: 100%; height: 45vh; min-height: 250px; margin-right: 10px; background: rgba(186, 180, 180, 0.3); }

.progress-bar { height: 20px; background: #333; }

.flickity-page-dots { display: none; }

.progress-bar { background-color: #555555; }

.progress-bar:hover { background-color: #000; }

#map { height: 45vh; min-height: 250px; max-width: 1200px; margin: 0 auto; margin-top: 30px; }
